@use "./base.scss";

// put your custom CSS here!

/* --------------------------------------- */
/* CUSTOM FONT TRY: DELETE IF SITE CRASHES */
/* --------------------------------------- */
/*
@font-face {
     font-family: 'HamletOrNot';
     src: url('./quartz/style/font/Hamletornot.ttf') format('truetype') local('Hamletornot');
     font-weight: normal;
     font-style: normal;
 }

@font-face {
     font-family: 'Kelvinch';
     src: url('font/Kelvinch-Roman.otf') format('opentype') local('Kelvinch');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Kelvinch';
     src: url('font/Kelvinch-Bold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'Kelvinch';
     src: url('font/Kelvinch-BoldItalic.otf') format('opentype');
     font-weight: bold;
     font-style: italic;
}

@font-face {
     font-family: 'Kelvinch';
     src: url('font/Kelvinch-Italic.otf') format('opentype');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-Regular.ttf')  format('truetype') local('Jupiteroid');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-Bold.ttf')  format('truetype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-Italic.ttf')  format('truetype');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-BoldItalic.ttf')  format('truetype');
     font-weight: bold;
     font-style: italic;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-Light.ttf')  format('truetype');
     font-weight: lighter;
     font-style: normal;
}

@font-face {
     font-family: 'Jupiteroid';
     src: url('font/Jupiteroid-LightItalic.ttf')  format('truetype');
     font-weight: lighter;
     font-style: italic;
}

 :root {
   --font-header:'HamletOrNot';
   --font-body:'Kelvinch';
   --font-code:'Jupiteroid';
 }

 */

/* -------------------------------------- */
